<h1><%= link_to 'Employees', employees_path %></h1>

<%= search_form_for @q, data: { turbo_frame: :results, turbo_action: 'advance' }, id: :search_form do |f| %>
  <%= f.label :first_name_or_last_name_or_email_or_country_or_company_name_cont %>
  <%= f.search_field :first_name_or_last_name_or_email_or_country_or_company_name_cont, oninput: 'this.form.requestSubmit();' %>
  <%= f.submit %>
<% end %>
<hr>
<br>

<div style="display: flex;">
  <div style='width: 300px; border: solid 1px #ddd; padding: 1rem;'>
    <%= render 'sidebar' %>
  </div>
  <div style='margin-left: 1rem; border: solid 1px #ddd; padding: 1rem;'>
    <%= turbo_frame_tag :results, data: { turbo_action: 'advance' } do %>
      <%= render 'results' %>
    <% end %>
  </div>
</div>
