<h1><%= link_to 'Employees', employees_path %></h1>

<%= search_form_for @q, data: { turbo_frame: :results, turbo_action: 'advance' } do |f| %>
  <%= f.label :first_name_or_last_name_or_email_or_country_or_company_name_cont %>
  <%= f.search_field :first_name_or_last_name_or_email_or_country_or_company_name_cont, oninput: 'this.form.requestSubmit();' %>
  <br>
  <hr>
  <br>
  <%= f.label :first_name_cont %>
  <%= f.search_field :first_name_cont, oninput: 'this.form.requestSubmit();' %> <br>
  <%= f.label :last_name_cont %>
  <%= f.search_field :last_name_cont, oninput: 'this.form.requestSubmit();' %> <br>
  <%= f.label :email_cont %>
  <%= f.search_field :email_cont, oninput: 'this.form.requestSubmit();' %> <br>
  <%= f.label :birthday_eq %>
  <%= f.date_field :birthday_eq, oninput: 'this.form.requestSubmit();' %> <br>
  <%= f.label :birthday_gteq %>
  <%= f.date_field :birthday_gteq, oninput: 'this.form.requestSubmit();' %> <br>
  <%= f.label :birthday_lteq %>
  <%= f.date_field :birthday_lteq, oninput: 'this.form.requestSubmit();' %> <br>
  <%= f.label :country_eq %>
  <%= f.select :country_eq,
    Employee.pluck(:country).uniq.sort,
    {include_blank: true},
    style: 'width: 200px;',
    onchange: 'this.form.requestSubmit();'
  %>
  <br>
  <%= f.label :company_name_in %>
  <%#= f.select :company_name_in, 
    Company.pluck(:name).uniq.sort,
    {include_blank: true, multiple: true},
    style: 'width: 200px;',
    onchange: 'this.form.requestSubmit();' 
  %>
  <%#= f.collection_check_boxes(:company_name_in, Company.all, :name, :name, {}, onchange: 'this.form.requestSubmit();') %>
  <%= f.collection_check_boxes(:company_name_in, Company.all, :name, :name, {}, onchange: 'this.form.requestSubmit();') do |checkbox| %>
    <div>
      <%= checkbox.check_box %>
      <%= checkbox.label %>
    </div>
  <% end %>
  <br>
  <%= f.label :active_eq %>
  <%= f.select :active_eq, [true, false], {include_blank: true}, style: 'width: 200px;', onchange: 'this.form.requestSubmit();' %> <br>
  <%= f.label :company_name_cont %>
  <%= f.search_field :company_name_cont, oninput: 'this.form.requestSubmit();' %> <br>
  <%= f.submit %>
<% end %>

<%= turbo_frame_tag :results, data: { turbo_action: 'advance' } do %>
  <%= render 'results' %>
<% end %>